@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*COLORS*/
    --COLOR: #FFF;
}
  

body{
    font-family: 'Didact Gothic', sans-serif;;
    min-height: 100vh;
    background-color: #383166;
    background: linear-gradient(90deg, #8c88e3, #383166);
    display: flex;
    flex-direction: column;
    color: #F1F1C3;

    
}




header, main, footer{
    display: flex;
    place-content: center;
    /*grid-template-columns: 100%;*/
    text-align: center;
    flex-flow: column nowrap;
}

#root {
    /* React root div */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}



.public,
.welcome {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.public{
    background-image: url('./img/background_public.jpg');
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
}

.public__header{
    padding: 1rem;
    font-size: 15px;
}

/*.public_container{

}*/

.welcome,
.dash-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(16, 4, 4, 1)), url('./img/background_welcome.jpg');
    /*background-image: url('./img/background_welcome.jpg');*/
    /*opacity: 0.5;*/
    background-size: cover;
    background-position: 50% 0;
    z-index: -1;
}

.welcome__menu{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Link__class{
    color: rgb(244, 208, 208);
    font-weight: 800;
    font-size: larger;
}

header, footer{
    background-color: #2f2955;
    color: #F1F1C3;
}

header {
    top: 0;
    max-height: 13vh;
} 

.icon-button{
    
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    color: var(--COLOR);
    display: grid;
    place-content: space-between;
}

/* NAV Classes*/
/*nav {
    
}*/

.dash-header__container{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items: center;
}


  
.dash-header__nav{
    background-color: #e1378356;
    color: #000;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-end;
}


/* END NAV Classes*/

main {
    flex-grow: 1;
}
/*Footer classes*/
footer {
    font-size: 15px;
    bottom: 0;
    max-height: 10vh;
    position: sticky;
    z-index: 1;
}

.dash-footer{
    padding: 0.35rem;
    position: sticky;
    bottom: 0;
}

.dash-footer__button{
    background-color: #e1378356;
    font-size: 1rem;
}

.public-footer{
    padding: 0.5rem;
}
/* END Footer classes /*

/* Main Dash classes */
.dash-container {
    padding: 0.75em 1em 1em;
    flex-grow: 1;
    z-index: 1;
  }

.dash-header__title{
    color: #F1F1C3;
    text-decoration: underline;
    padding: 0.5rem;
}

/* End Main Dash classes */

.user__span{
    font-size: 28px;
    font-weight: bold;
}

.table {
    font-size: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: var(--TABLE-COLOR);
    gap: 0.1em;
  }

.table__thead {
position: sticky;
top: 0;
}



/*MEDIA Syntax
@media media type and (condition: breakpoint){
    //CSS rules
}

Example:
@media screen and (min-width: 481px){
    font-type: italic
}
*/

/* SMALL*/


@media screen and (min-width:576px) {
    .public__header{
        font-size: 12px;
    }
    body{
        font-size: 16px;
    }

    
    
}


    



