@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*COLORS*/
    --COLOR: #FFF;
    --BORDER-COLOR: rgba(204, 204, 144, 0.426);
}
  

#root {
    /* React root div */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}


body{
    font-family: 'Didact Gothic', sans-serif;;
    min-height: 100vh;
    background-color: #383166;
    background: linear-gradient(90deg, #8c88e3, #383166);
    display: flex;
    flex-direction: column;
    color: #F1F1C3;
    
}

.wrapper{
    width: min(300px, 100%, 3rem);
    margin-inline: auto;
}

header, main, footer{
    display: flex;
    place-content: center;
    text-align: center;
    flex-flow: column;
}


.welcome {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.welcome{
    padding: 1rem;
}

.public{
    display: flex;
    min-height: 100vh;
    background-image: url('./img/background_public.jpg');
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
}

.public__header{
    padding: 1rem;
    font-size: 14px;
}

.public_container{
    display: flex;
    place-content: center;
}

.public_box{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(10deg, #1b1939df, #201a48);;
    width: 75vw;
    height: 50vh;

}

.public_box > div{
    width:100%;
    padding:1rem;
    height: 50%;
    

}

.public_box_container{
    justify-content: center;
    border-left: 5px solid #FFF;
    border-right: 5px solid #FFF;
}

header {
    top: 0;
    max-height: 15vh;
} 

header, footer{
    background-color: #2f2955;
    color: #F1F1C3;
}

main {
    flex-grow: 1;
}

/*Footer classes*/
footer {
    font-size: 15px;
    bottom: 0;
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.public-footer{
    padding: 0.5rem;
}
/* END Footer classes */

.Link__class{
    color: rgb(244, 208, 208);
    font-weight: 800;
    font-size: larger;
}



.dash-header__title{
    color: #F1F1C3;
    text-decoration: underline;
    padding: 0.5rem;
}

.dash-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(16, 4, 4, 1)), url('./img/background_welcome.jpg');
    background-size: cover;
    background-position: 50% 0;
    padding: 0.75em 0.5em 0.5em;
    flex-grow: 1;
}

.dash-container-dipers{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(16, 4, 4, 0.9)), url('./img/background_dipers.jpg');
    background-size: contain;
    background-position: 50% 0;
    padding: 0.75em 0.5em 0.5em;
    flex-grow: 1;
}

.dash-footer{
    padding: 0.35rem;
    position: sticky;
    /*z-index: 1;*/
}


.user__span{
    font-size: 28px;
    font-weight: bold;
}


.table__container{
    display: flex;
    place-content: center;
}

.ausg_table{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(16, 4, 4, 1));
    font-size: 1rem;
    width: 90%;
    gap: 0.1em;
    overflow: auto;
   
}


.table {
    font-size: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: var(--TABLE-COLOR);
    gap: 0.1em;
    overflow-x: auto;
    overflow-y: auto;
}

.table__th,
.table__cell {
    text-align: center;
    padding: 0.5em;
}



.table__th{
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid var(--BORDER-COLOR);
}

.table__cell {
    border-bottom: 1px solid var(--BORDER-COLOR);
}

.table__cell:nth-child(3) {
    text-align: justify;
    text-justify: inter-word;
}

.dash-header__nav{
    background-color: #e1378356;
    color: #000;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    display: flex;
}

.icon-button{
    width: 30px;
    height: 30px;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    color: var(--COLOR);
    flex-grow: 1;
    display: block;
}

.dash-footer__button {
    font-size: 1rem;
    width: auto;
    height: auto;
    place-content: center;
}

.nav_foot_background{
    background-color: #e1378356;
    display: flex;
    place-content: center;
}



/* Forms*/

.input__valAusgaben{
    padding: .25rem;
    width: 10em;
}

.input__select{
    margin-left: 0.5rem;
}

.displayingComponent{
    display: none;
}

@media screen and (max-width: 680px) {
    
    .dash-container-dipers{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(16, 4, 4, 0.9)), url('./img/background_dipers.jpg');
        background-size: contain;
        background-position: 50% 0;
        padding: 0.75em 0.5em 0.5em;
        flex-grow: 1;
    }

    th {
        display: none;
    }

    .table__cell {
        text-align: left;
    }
    .table__cell:last-child{
        margin: auto;
        text-align: left;
    }

    td {
        display: grid;
        gap: .5;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
        text-align: left;
    }    


    td:first-child{
        padding-top: 1rem;
    }
    td:last-child{
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 5px solid #a7ba5a;
    }

    td::before{
        color: #FFF;
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

  
}

@media screen and (min-width: 680px) {
    td,
    th{
        max-width: 20rem;
    }

    .table__cell:last-child{
        margin: auto;
        text-align: center;
    }

    .icon-button{
        margin: auto;
    }

    .public_box > div {
        width:calc(100% / 3);
    }
}